@media screen and (max-width: 1170px){
  #main_menu li a{
  	padding-left: 14px;
  	padding-right: 14px;
  }
}
@media screen and (max-width: 1024px){
	.container .wrapper{
		max-width: 768px;
	}
	.row.cols2,
	.row.cols3{
		margin-left: -10px;
  	margin-right: -10px;
	}
	.row.cols2 > *,
	.row.cols3 > *{
		padding-left: 10px;
		padding-right: 10px;
	}
	.icon_text .icn + .txt{
		margin-left: 10px;
	}
	.fancybox-close{
	  background-color: transparent;
	  width: 35px;
	  height:  35px;
	  top:  8px;
	  right: 8px;
	}
	.samples .item{
		padding-left: 0;
	}
	#top_show{
		left: 10px;
	}
	#to_top a{
		right: 35px;
	}
	#top{
		font-size: 15px;
	}
	#top .head{
		font-size: 15px;
	}
	#top .number{
		font-size: 18px;
	}
	#top .head br{
  		display:  block;
	}
	#btn_menu{
		display: flex;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	}
	#main_menu{
		display:  block;
	}
	#main_menu li{
		border-right: none;
		border-bottom: 1px solid #247bc5;
	}
	#main_menu li:hover,
	#main_menu li.active{
		background: transparent;
	}
	#main_menu li a{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 35px;
	}
	#main_menu .arrow{
		display: block;
	}
	#main_menu .sub{
		display: none;
		position:  relative;
		background:  transparent;
		box-shadow:  none;
		padding-top: 5px;
		padding-bottom: 20px;
	}
	#main_menu li:hover .sub{
		display: none;
	}
	#main_menu li .sub.open{
		display: flex;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	}
	#main_menu .sub ul li{
		border:  none;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	#main_menu .sub ul li:before{
		top: 14px;
	}
	#main_menu .sub ul li.active:before{
		background: url('../images/icon69.png') no-repeat;
	}
	#main_menu .sub ul li a{
		color: #ffffff;
	}
	#main_menu .sub ul li.active a{
		color: #ffffff;
		font-weight: 700;
	}
	body.articles #breadcrumbs{
		padding-right: 0;
	}
	#header .logo{
		max-width: 238px;
	}
	#header .phones .item .number,
	#footer .phones .item .number{
		font-size:  21px;
	}
	#header .phones .item a,
	#footer .phones .item a{
		font-size:  11px;
	}
	#header nav{
  	display:  none;
    position:  absolute;
    top: 100%;
    width: 100%;
    z-index: 100;
    background: #0e6dbe;
    padding-bottom: 20px;
  }
  #header .top .btn_question .question,
  #footer .bottom .btn_question .question{
  	border:  none;
  	margin-right: -20px;
  }
  #header .top .btn_question .txt,
  #header .top .btn_question .icn,
  #footer .bottom .btn_question .txt,
  #footer .bottom .btn_question .icn{
  	display: none;
  }
  #header .search_form input[type="text"]{
  	padding-left:  25px;
  }
  #header .banner .row{
  	justify-content: space-between;
	  -webkit-box-pack: justify;
	  -webkit-justify-content: space-between;
	  -ms-flex-pack: justify;
  }
  #header .banner .row > .title{
  	font-size: 33px;
  	line-height: 33px;
  }
	body.index #header .banner{
		background-position: 100% 50%;
	}
  body.articles #header .banner .main_form{
  	margin-bottom: -68px;
  }
  #main > .wrapper > .row{
  	display:  block;
  }
  #main .content{
  	margin-right: 0;
  }
  body.articles #main .content h1:first-of-type{
  	padding-right: 0;
  }
  #main .items .item{
  	margin-bottom:  20px;
  }
  #main .page_nav .icon_text{
  	margin:  0;
  }
  #main aside{
  	display: flex;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  justify-content: center;
  }
  body.articles #main aside{
  	padding-top: 24px;
  }
  #main aside > *{
  	margin: 0 1%;
  	width: 270px;
  }
  #main aside > *:first-child{
  	margin-left: 0;
  }
  #main aside > *:last-child{
  	margin-right: 0;
  }
  #footer .top{
  	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
  }
  #footer .top .col{
  	max-width: 50%;
  }
  #footer .top .col:nth-child(3){
  	max-width: 100%;
  }
}
@media screen and (max-width: 1000px){
	#main .cs-expertPlagin-tpl .head_expertPlagin-top{
		text-align: left;
	}
	#main .cs-expertPlagin-tpl .expect-left{
		text-align: left;
		display:  inline-block;
		max-width: 274px;
		margin-bottom: 0;
	}
	#main .cs-expertPlagin-tpl .descpage_expertPlagin-item{
		text-align: left;
	}
	#main .wrap-authors_webnavoz{
		display: flex;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    text-align:  left;
	}
	#main .wrap-authors_webnavoz .information-authors_webnavoz{
		margin: 0;
		max-width: none;
	}
	#main .wrap-authors_webnavoz .expect-left{
		text-align:  left;
		margin-bottom: 0;
	}
	#main .wrap-authors_webnavoz .value-rating-authors_webnavoz{
		text-align: left;
	}
	#main .wrap-authors_webnavoz .value-posts-authors_webnavoz{
		padding-left: 30px !important;
		text-align: left;
	}
	#main .wrap-authors_webnavoz .value-posts-authors_webnavoz>div{
		background: none;
		padding: 0;
	}
}
@media screen and (max-width: 768px){
	h1{
		font-size: 29px;
	}
	h2{
		font-size: 28px;
	}
	.content ol,
	.content ul{
		padding-left: 0;
	}
	table.tablepress{
  	min-width: 768px;
	}
	.btn_download{
		font-size:  17px;
		padding:  14px;
	}
	.alignright,
	.alignleft{
	  float: none;
	  margin: 0 0 20px 0;
	}
	img.alignleft,
	img.alignright,
	img.aligncenter{
	  display:  block;
	  margin-left: auto;
	  margin-right: auto;
	}
	.row.cols2 > *,
	.row.cols3 > *{
		flex-basis: 100%;
	  -webkit-flex-basis: 100%;
	  -ms-flex-preferred-size: 100%;
	  margin-bottom: 20px;
	}
	.container .wrapper{
		max-width: 470px;
		padding: 0 10px;
	}
	.main_form .body .step2 .row,
	.question_form .middle .step2 .row{
		flex-wrap: wrap;
	  -webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
	}
	.main_form .body .step2 .row .col
	.question_form .middle .step2 .row .col{
		flex-basis: 100%;
	  -webkit-flex-basis: 100%;
	  -ms-flex-preferred-size: 100%;
	}
	.main_form .head .clip{
		display:  none;
	}
	.main_form .policy{
		padding:  0;
	}

	.question_form{
		margin-top: 30px;
	}
	.question_form .top{
		background-image: none;
		padding: 15px 20px;
	}
	.question_form .top .clip{
		display: none;
	}
	.question_form .middle{
		padding: 25px 20px 35px;
	}
	.question_form .middle .human{
		display:  none;
	}
	.question_form .bottom .col{
		border:  none !important;
		padding: 0;
	}
	.question_form .bottom .icon_text{
		padding:  20px;
	}
	.question_form .form > p{
		text-align: center;
		margin-bottom: 14px;
	}
	.main_form .policy,
	.question_form .policy{
		text-align: center;
		font-size: 11px;
		line-height: 20px;
	}
	.question_form .bottom .icn{
		max-width: 50px;
		display:  block;
	}
	.question_form .bottom .title{
		font-size:  15px;
		margin-bottom: 5px;
	}
	.question_form .bottom p{
		font-size: 11px;
	}
	.main_form .body input[name="name"],
	.question_form .middle input[name="name"]{
		display:  none;
	}

	.quotes_block{
		padding: 30px;
	}
	.blue_block,
	.green_block,
	.red_block,
	.orange_block,
	.silver_block,
	.info_block,
	.scale_block,
	.list_block{
		padding: 50px 30px 30px;
	}
	.blue_block > :first-child,
	.green_block > :first-child,
	.red_block > :first-child,
	.orange_block > :first-child,
	.silver_block > :first-child,
	.info_block > :first-child,
	.scale_block > :first-child,
	.list_block > :first-child{
		text-indent: 50px;
	}
	.blue_block:before,
	.green_block:before,
	.red_block:before,
	.orange_block:before,
	.silver_block:before,
	.info_block:before,
	.scale_block:before,
	.list_block:before{
		width: 40px;
		height: 40px;
		background-size: auto 70%;
	}
	.samples  .item{
		flex-wrap: wrap;
	  -webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
	}
	.samples  .item a.download{
		margin-top:  12px;
	}
	#top .close{
		margin-top: -14px;
	}
	#top .row{
		flex-wrap: wrap;
	  -webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
	  margin: 0 -10px;
	  flex-direction: column;
	  height: 50px;
	  align-items: flex-start;
	}
	#top .row > *{
		margin: 0 10px;
	}
	#top .head{
		padding-left: 70px;
		font-size: 12px;
		line-height: 16px;
	}
	#top .number{
		font-size: 12px;
		line-height: 16px;
	}
	#top .icon_text .icn{
		display:  none;
	}
	#top .icon_text .txt{
		margin: 0;
	}
	#top .btn_question{
		width: 54px;
		font-size: 10px;
		text-transform: uppercase;
		padding: 5px;
		position:  absolute;
	}
	#top .phone{
		padding-left: 70px;
		line-height: 16px;
		font-size:  12px;
	}
	#main_menu li .sub{
		flex-wrap: wrap;
	  -webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
	}
	#header .top .btn_question{
		display:  none;
	}
	#header .top .wrapper{
		flex-basis: 100%;
	  -webkit-flex-basis: 100%;
	  -ms-flex-preferred-size: 100%;
	  flex-wrap: wrap;
	  -webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
	  justify-content: center;
	}
	#header .logo{
		margin-bottom: 12px;
		max-width: none;
	}
	#header .top .phones .row{
		flex-wrap: wrap;
	  -webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
	  justify-content: center
	}
	#header .phones .note{
		text-align:  center;
	}
	#header .phones .item .number{
		margin-bottom: 0;
	}
	#header .phones .item .icn{
		display: none;
	}
	#header .phones .item .txt{
		margin: 0;
	}
	#header .banner .wrapper > .row{
		justify-content: center;
		display:  block;
	}
	#header .banner .online,
	#header .banner .row > .title{
		display:  none;
	}
	body.articles #header .banner .main_form{
		margin-bottom: -48px;
	}
	#main {
    padding: 25px 0;
	}
	#main .columns2{
		-webkit-column-count: unset; 
		-moz-column-count: unset; 
		column-count: unset;
	}
	#main .social_link{
		display:  block;
	}
	#main .social_link .note{
		margin: 0 0 10px 0;
		display:  block;
	}
	#main .page_nav{
		flex-wrap: wrap;
	  -webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
	  justify-content: center;
	  margin-bottom: 24px;
	}
	#main .page_nav .pages{
		order:  1;
		flex-basis: 100%;
	  -webkit-flex-basis: 100%;
	  -ms-flex-preferred-size: 100%;
	  margin-bottom: 25px;
	  text-align: center;
	}
	#main .page_nav .icon_text{
		order: 2;
		margin: 0 15px;
	}
	#main aside{
		display:  block;
	}
	#main aside > *{
		width: 100%;
		margin: 0 0 24px;
	}
	#main aside .hotline .body{
		max-width: 270px;
		margin:  0 auto;
	}
	#main aside .hotline .body p{
		margin-bottom: 12px;
	}
	#main aside .consultation .item{
		max-width: 270px;
		margin:  0 auto;
	}
	#main .cs-expertPlagin-tpl .button_expertPlagin-item{
		display:  block;
		float: none;
		width: 100%;
		margin: 0;
	}
	#main .wrap-authors_webnavoz{
		display:  block;
	}
	#main .wrap-authors_webnavoz .information-authors_webnavoz{
		width: 100%;
	}
	#main .wrap-authors_webnavoz .wrap_right{
		width: 100%;
	}
	#main .cs-expertPlagin-tpl .button_expertPlagin-item{
		margin-top: 20px;
		background-position: 90% 50%;
	}

	#footer .top{
		justify-content: center;
		border-bottom:  none;
		margin: 0 0 15px;
		padding: 0;
	}
	#footer .top .logo{
		margin-bottom: 15px;
	}
	#footer .top .col{
		max-width: 290px !important;
	}
	#footer .bottom,
	#footer .bottom .row{
		display:  block;
	}
	#footer .bottom .row .item{
		margin: 0 auto 15px;
		max-width: 290px;
	}
	#footer .bottom .btn_question{
		max-width: 290px;
		margin:  0 auto;
	}
	#footer .bottom .btn_question .question{
		margin-right: 20px;
		 border-right: 1px solid #dd4b75;
	}
	#footer .bottom .btn_question .txt,
  	#footer .bottom .btn_question .icn{
  		display: inline;
  	}

}
@media screen and (max-width: 490px){
	input[type="text"]{
		padding: 14px  14px 14px 34px;
		font-size: 14px;
	}
	textarea{
		padding: 14px;
		margin-bottom: 14px;
		font-size: 14px;
	}
	.main_form .head,
	.question_form .top,
	.main_form .body,
	.question_form .middle,
	.question_form .bottom .icon_text{
		padding: 14px;
	}
	.question_form .top,
	.main_form .head .txt p{
		font-size: 20px;
		line-height: 24px;
	}
	#btn_menu{
		font-size: 16px;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	#header #search_open{
		padding: 15px 14px 16px;
	}
	#header .search_form input[type="text"]{
  	padding-left:  14px;
  	padding-right:  54px;
  }
  #header .search_form input[type="submit"]{
  	right: 14px;
  }
	#main .page_nav .pages a,
	#main .page_nav .pages span{
		font-size: 18px;
		padding: 2px 10px;
	}
	#main .how_free{
		padding: 20px;
	}
	#main .how_free h2{
		margin: -38px -10px 20px;
	}
	#main .words{
		display:  block;
		padding: 0;
	}
	#main .words .img_holder{
		border-right:  none;
		border-bottom: 1px solid #e3eaee;
		text-align: left;
	}
	#main ul.res_list{
		padding-left: 0;
	}
}
@media screen and (max-width: 420px){
	#main .wrap-authors_webnavoz .information-authors_webnavoz img{
		top: 0;
		left: 0;
	}
	#main .wrap-authors_webnavoz .body-info-authors_webnavoz{
		padding: 0;
	}
	#main .wrap-authors_webnavoz .rating-authors_webnavoz{
		display:  block;
	}
}
@media screen and (max-width: 402px){
	#top .close{
		margin-top: -4px;
	}
}
@media screen and (max-width: 370px){
	#header .phones .item{
	  margin: 0 20px 12px !important;
	}
}